<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rest Password Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/resetpassword.js"></script>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-6 p-4">
                <form>
                    <fieldset>
                        <legend>Reset password form</legend>
                        <div class="form-group">
                            <label for="password">Password: (*)</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                            <small class="form-text invalid-feedback">Invalid password, require greater than 2
                                letters</small>
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirmation">Confirm password: (*)</label>
                            <input type="password" class="form-control" id="passwordConfirmation"
                                   placeholder="Password confirmation">
                            <small class="form-text invalid-feedback">Password confirmation is not match with the
                                password input</small>
                        </div>
                        <input type="hidden" id="userEmail" name="userEmail" value="<%= userEmail %>">
                        <div style="display: flex; justify-content: center;">
                            <button style="width: 150px;" type="button" id="resetBtn" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>