<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/resetpassword.js"></script>
    <style>
        /* Mặc định */
        .Mail-btn {
            border-radius: 3px; 
            border: 2px solid black;
            transition: 0.3s;
        }
      </style>
    
</head>
<body>
    <div class="password-setting">

        <div class="row content p-0 mx-0 d-flex justify-content-center" style="color: aliceblue">

            <div class="col-10 p-0 card-profile ">
                <div class="card-container ">
                    <div class="header-card border-bottom pb-2" style=" color:black; border-radius: 5px;">
                        <h6 class=" d-flex justify-content-center fs-5 pt-3 px-4" style="font-size: x-large;">Xác nhận danh tính</h6>

                    </div>
                    <br>
                    <div class="body-card row pb-5 d-flex justify-content-center">
                        <div class="details text-center " style="color: black; font-size: larger;">
                            <p>Vui lòng nhập email của bạn</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input id="verifymail" type="text" style="width: 500px; height: 30px;">
                        <small class="form-text invalid-feedback is-invalid">Invalid email</small>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div>
                            <button id="submitmailBtn" class=" btn btn-primary" style="margin-top: 15px; width: 150px; ">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- FOOTER -->
        
    </div>
</body>
</html>