<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/register.js"></script>
</head>
<body>
    <div class="password-setting">

        <div class="row content p-0 mx-0 d-flex justify-content-center" style="color: aliceblue">
            <!-- OPTIONS -->

            <!-- CARD PROFILE -->
            <div class="col-10 p-0 card-profile ">
                <div class="card-container ">
                    <div class="header-card border-bottom pb-2" style="background-color: 
                    #f54d10; border-radius: 5px;">
                        <h6 class=" d-flex justify-content-center fs-5 pt-3 px-4" style="font-size: x-large;">Đăng kí
                            thành công</h6>

                    </div>
                    <br>
                    <div class="body-card row pb-5">
                        <div class="details text-center" style="color: #f54d10; font-size: larger;">
                            <p>Vui lòng kiểm tra email của bạn để hoàn thành xác nhận</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- FOOTER -->
        <div class="text-center footer pb-4">
            <i class="fa-regular fa-copyright d-inline-block"></i>
            <span>2022 - Bản quyền thuộc về HIEUAN Shop</span>
        </div>
    </div>
</body>
</html>